﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PayrollUsingUploadedAttendance.aspx.cs" Inherits="Technofinancials.Finance.view.PayrollUsingUploadedAttendance" %>


<%@ Register Src="~/usercontrols/Header.ascx" TagName="Header" TagPrefix="uc" %>
<%@ Register Src="~/Finance/usercontrols/Sidebar.ascx" TagName="SideBar" TagPrefix="uc" %>
<%@ Register Src="~/usercontrols/Footer.ascx" TagName="Footer" TagPrefix="uc" %>
<%@ Register Src="~/usercontrols/Stylesheets.ascx" TagName="StyleSheets" TagPrefix="uc" %>
<%@ Register Src="~/usercontrols/Scripts.ascx" TagName="Scripts" TagPrefix="uc" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<uc:StyleSheets ID="styleSheet1" runat="server"></uc:StyleSheets>
</head>
<body class="menubar-left menubar-unfold menubar-light theme-primary ">
	<form id="form1" runat="server">
		<asp:ScriptManager ID="scrptmngr" runat="server"></asp:ScriptManager>
		<uc:Header ID="header1" runat="server"></uc:Header>
		<uc:SideBar ID="sidebar2" runat="server"></uc:SideBar>
		<!-- APP MAIN ==========-->
		<main id="app-main" class="app-main">

			<input type="hidden" id="hdnCompanyName" value="<% Response.Write(Common.RemoveSpecialCharacter(Session["CompanyName"].ToString()).Replace(" ", "-").ToLower()); %>" />
			<div class="wrap">

				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<h1 class="m-0 text-dark">Payroll</h1>
							</div>
							<!-- /.col -->
							<div class="col-sm-4">
								<div style="text-align: right;">

									<% 
										string SpotlitURL = "";
										Session["SpotlitURL"] = "";
										if (Session["CompanyID"] != null)
										{
											if (Session["ParentCompanyID"].ToString() == "53" || Session["CompanyID"].ToString() == "53")
											{

												SpotlitURL = "spotlit-";
											}
										} %>

									<a href="<% Response.Write("/" + Common.RemoveSpecialCharacter(Session["CompanyName"].ToString()).Replace(" ", "-").ToLower() + "/finance/manage/standard-payroll/add-new-standard-payroll"); %>" class="AD_btn">Add</a>

								</div>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>

				<section class="app-content">

					<div class="row ">
						<div class="col-sm-12">
							<div class="tab-content ">
								<div class="tab-pane active row">
									<div class="col-sm-12 gv-overflow-scrool">

										<asp:GridView ID="gv" runat="server" CssClass="table table-bordered gv" ClientIDMode="Static" AutoGenerateColumns="false" ShowHeaderWhenEmpty="true" EmptyDataText="No Records Found">
											<Columns>
												<asp:TemplateField HeaderText="Sr.No.">
													<ItemTemplate>
														<%#Container.DataItemIndex+1 %>
													</ItemTemplate>
												</asp:TemplateField>

												<asp:TemplateField HeaderText="Payroll Month">
													<ItemTemplate>
														<asp:Label runat="server" ID="lblCol1" Text='<%#  DateTime.Parse(Eval("NewPayrollDate").ToString()).ToString("MMM-yyyy")  %>'></asp:Label>
													</ItemTemplate>
												</asp:TemplateField>
												<asp:TemplateField HeaderText="Status">
													<ItemTemplate>
														<asp:Label runat="server" ID="lblCol3" Text='<%# Eval("DocStatus") %>'></asp:Label>
													</ItemTemplate>
												</asp:TemplateField>
												<asp:TemplateField HeaderText="Prepared Date">
													<ItemTemplate>
														<asp:Label runat="server" ID="lblCol3" Text='<%# Eval("PreparedDate") %>'></asp:Label>
													</ItemTemplate>
												</asp:TemplateField>

												<asp:TemplateField HeaderText="View">
													<ItemTemplate>
														<a href="<%#  "/" + Common.RemoveSpecialCharacter(Session["CompanyName"].ToString()).ToLower().Replace(" ","-") + "/finance/manage/standard-payroll/edit-standard-payroll-" + Eval("NewPayrollID") %>" class="AD_stock">View </a>
													</ItemTemplate>
												</asp:TemplateField>
											</Columns>
										</asp:GridView>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- #dash-content -->
			</div>
			<div class="clearfix">&nbsp;</div>

			<!-- .wrap -->
			<uc:Footer ID="footer1" runat="server"></uc:Footer>
		</main>
		<!--========== END app main -->
		<uc:Scripts ID="script1" runat="server"></uc:Scripts>
		<script src="/business/scripts/ViewDesignations.js"></script>

		<style>
			.tf-note-btn {
				background-color: #575757;
				padding: 10px 8px 7px 10px;
				border-radius: 100px;
				border: none !important;
				color: #fff;
			}

				.tf-note-btn i {
					color: #fff !important;
				}

			.tf-disapproved-btn {
				background-color: #575757;
				padding: 10px 8px 7px 10px;
				border-radius: 100px;
				border: none !important;
				color: #fff;
			}

				.tf-disapproved-btn i {
					color: #fff !important;
				}


			.tf-add-btn {
				background-color: #575757;
				padding: 4px 9px 4px 10px !important;
				border-radius: 100px;
				border: none !important;
				color: #fff;
			}

				.tf-add-btn i {
					color: #fff !important;
				}

			.tf-add-btn {
				background-color: #575757;
				padding: 12px 10px 8px 10px !important;
				border-radius: 100px;
				border: none !important;
				color: #fff;
			}

				.tf-add-btn i {
					color: #fff !important;
				}

			.tf-back-btn {
				background-color: #575757;
				padding: 10px 10px 10px 10px;
				border-radius: 100px;
				border: none !important;
				color: #fff;
				padding: 5px !important;
				height: 38px !important;
				width: 37px !important;
				display: inline-block !important;
				text-align: center !important;
			}

				.tf-back-btn i {
					color: #fff !important;
				}
		</style>
	</form>
</body>
</html>
