﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Seperation.aspx.cs" Inherits="Technofinancials.PeopleManagement.Manage.Seperation" %>
                                                                                                        
<%@ Register Src="~/usercontrols/Header.ascx" TagName="Header" TagPrefix="uc" %>
<%@ Register Src="~/PeopleManagement/usercontrols/Sidebar.ascx" TagName="SideBar" TagPrefix="uc" %>
<%@ Register Src="~/usercontrols/Footer.ascx" TagName="Footer" TagPrefix="uc" %>
<%@ Register Src="~/usercontrols/Stylesheets.ascx" TagName="StyleSheets" TagPrefix="uc" %>
<%@ Register Src="~/usercontrols/Scripts.ascx" TagName="Scripts" TagPrefix="uc" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <uc:StyleSheets ID="styleSheet1" runat="server"></uc:StyleSheets>
</head>

<body class="menubar-left menubar-unfold menubar-light theme-primary ">
    <form id="form1" runat="server">
        <asp:ScriptManager ID="scrptmngr" runat="server"></asp:ScriptManager>
        <uc:Header ID="header1" runat="server"></uc:Header>
        <uc:SideBar ID="sidebar1" runat="server"></uc:SideBar>

        <!-- APP MAIN ==========-->
        <main id="app-main" class="app-main">
            <asp:UpdateProgress ID="updProgress"
                AssociatedUpdatePanelID="upd1"
                runat="server">
                <ProgressTemplate>
                    <div class="upd_panel">
                        <div class="center">
                            <img src="/assets/images/Loading.gif" />
                        </div>


                    </div>
                </ProgressTemplate>
            </asp:UpdateProgress>

            <div class="wrap">
                <asp:UpdatePanel ID="upd1" runat="server">
                    <ContentTemplate>
                        <div class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <h1 class="m-0 text-dark">Seperation</h1>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div style="text-align: right;">
                                            <button type="button" class="AD_btn" data-toggle="modal" data-target="#notes-modal" value="Add Note" title="Note">Note </button>
                                            <button class="AD_btn" id="btnRevApprove" runat="server" onserverclick="Button1_ServerClick" validationgroup="btnValidate" type="button">Approve</button>
                                            <button class="AD_btn" id="btnReview" runat="server" onserverclick="Button1_ServerClick" validationgroup="btnValidate" type="button">Submit</button>
                                            <button class="AD_btn" id="btnApprove" runat="server" onserverclick="Button1_ServerClick" validationgroup="btnValidate" type="button">Approve</button>
                                            <asp:LinkButton ID="lnkReject" runat="server" CssClass="AD_btn tf-del delete-class" CommandArgument='Reject' OnClick="lnkDelete_Click">Reject</asp:LinkButton>
                                            <asp:LinkButton ID="lnkDelete" runat="server" CssClass="AD_btn tf-del delete-class" CommandArgument='Delete' OnClick="lnkDelete_Click">Delete</asp:LinkButton>
                                            <button class="AD_btn" id="btnDisapprove" runat="server" onserverclick="Button1_ServerClick" validationgroup="btnValidate" type="button">Disapprove</button>
                                            <button class="AD_btn" id="btnSubForReview" runat="server" onserverclick="Button1_ServerClick" validationgroup="btnValidate" type="button">Submit</button>
                                            <button class="AD_btn" id="btnRejDisApprove" runat="server" onserverclick="Button1_ServerClick" validationgroup="btnValidate" type="button">Disapprove</button>
                                            <button class="AD_btn" id="btnSave" runat="server" onserverclick="btnSave_ServerClick" validationgroup="btnValidate" type="button">Save</button>
                                            <a class="AD_btn" id="btnBack" runat="server">Back</a>

                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </div>
                        <!-- Modal -->
                        <div class="modal fade M_set" id="notes-modal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="m-0 text-dark">Notes</h1>
                                        <div class="add_new">
                                            <button type="button" class="AD_btn" data-dismiss="modal">Save</button>
                                            <button data-dismiss="modal" aria-hidden="true" class="AD_btn">Close</button>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            <asp:Literal ID="ltrNotesTable" runat="server"></asp:Literal>
                                        </p>
                                        <p>
                                            <textarea id="Textarea1" runat="server" rows="5" placeholder="Notes.." class="form-control"></textarea>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ContentTemplate>
                    <Triggers>
                        <asp:AsyncPostBackTrigger ControlID="btnSave" EventName="serverclick" />
                    </Triggers>
                </asp:UpdatePanel>

                <section class="app-content">
                    <div class="row">
                        

                                <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                                    <ContentTemplate>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                     <div class="col-sm-12 col-xs-12 form-group pl-0">
                                        <h4><strong>Bonus and Commission</strong></h4>                                          
                                  </div>  
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <h4>Employee<span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator5" ControlToValidate="ddlEmployee" InitialValue="0" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>

                                                <asp:DropDownList ID="ddlEmployee" runat="server" CssClass="form-control select2" data-plugin="select2" AutoPostBack="true" OnSelectedIndexChanged="ddlEmployee_SelectedIndexChanged"></asp:DropDownList>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-6" id="divBonus" runat="server">
                                            <div class="form-group">
                                                <h4>Bonus <span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator1" ControlToValidate="txtBonus" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                 <asp:TextBox runat="server" id="txtBonus" AutoPostBack="true" OnTextChanged="txtSimpleHours_TextChanged" class="form-control" Text="0" />
                                            </div>
                                        </div>
                                       
                                        <div class="col-sm-6" id="divCommission" runat="server">
                                            <div class="form-group">
                                                <h4>Commissions <span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator2" ControlToValidate="txtCommission" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                 <asp:TextBox runat="server" id="txtCommission" AutoPostBack="true" OnTextChanged="txtSimpleHours_TextChanged" class="form-control" Text="0" />
                                            </div>
                                        </div>
                                       
                                        <div class="col-sm-6" id="divGraduity" runat="server">
                                            <div class="form-group">
                                                <h4>Graduity <span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator8" ControlToValidate="txtGraduity" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                 <asp:TextBox runat="server" id="txtGraduity" AutoPostBack="true" OnTextChanged="txtSimpleHours_TextChanged" class="form-control" Text="0" />
                                            </div>
                                        </div>


                                        <div class="col-sm-12 col-xs-12 form-group pl-0">
                                            <h4><strong>Leave Encashment</strong></h4>
                                        </div>

                                          <div class="col-sm-6" id="div2" runat="server">
                                            <div class="form-group">
                                                <h4>Days <span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator13" ControlToValidate="txtLeaveEncashmentDays" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                 <asp:TextBox runat="server" id="txtLeaveEncashmentDays" AutoPostBack="true" OnTextChanged="txtSimpleHours_TextChanged" class="form-control" Text="0" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6" id="divLeaveEncashment" runat="server">
                                            <div class="form-group">
                                                <h4>Amount <span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator12" ControlToValidate="txtLeaveEncashment" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                 <asp:TextBox runat="server" Enabled="false" id="txtLeaveEncashment" AutoPostBack="true" OnTextChanged="txtSimpleHours_TextChanged" class="form-control" Text="0" />
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-xs-12 form-group pl-0">
                                            <h4><strong>Attendance</strong></h4>
                                        </div>

                                        <div class="col-sm-6" id="divDays" runat="server">
                                            <div class="form-group">
                                                <h4>Days <span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator4" ControlToValidate="txtDays" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                 <asp:TextBox runat="server" id="txtDays" AutoPostBack="true" OnTextChanged="txtSimpleHours_TextChanged" class="form-control" Text="0" />
                                            </div>
                                        </div>
                                              
                                        <div class="col-sm-6" id="divSimpleHours" runat="server">
                                            <div class="form-group">
                                                <h4>1.5x Hours <span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator6" ControlToValidate="txtDays" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                 <asp:TextBox runat="server" id="txtSimpleHours" AutoPostBack="true" OnTextChanged="txtSimpleHours_TextChanged" class="form-control" Text="0" />
                                            </div>
                                        </div>
                                         
                                        <div class="col-sm-6" id="divHolidayHours" runat="server">
                                            <div class="form-group">
                                                <h4>2x Hours <span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator7" ControlToValidate="txtHolidayHours" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                <asp:TextBox runat="server" id="txtHolidayHours" AutoPostBack="true" OnTextChanged="txtSimpleHours_TextChanged" class="form-control" Text="0" />
                                            </div>
                                        </div>

                                         <div class="col-sm-6" id="div1" runat="server">
                                            <div class="form-group">
                                                <h4>Amount <span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator11" ControlToValidate="txtAttendanceTotal" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                <asp:TextBox Enabled ="false" runat="server" id="txtAttendanceTotal" AutoPostBack="true" OnTextChanged="txtSimpleHours_TextChanged" class="form-control" Text="0" />
                                            </div>
                                        </div>
    
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                
                                        <div class="col-sm-12 col-xs-12 form-group pl-0">
                                            <h4><strong>Provident Fund</strong></h4>
                                        </div>


                                        <div class="col-sm-6" id="divPFCompany" runat="server">
                                            <div class="form-group">
                                                <h4 >PF Company <span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator9" ControlToValidate="txtPFCompany" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                 <asp:TextBox runat="server" id="txtPFCompany" AutoPostBack="true" OnTextChanged="txtSimpleHours_TextChanged" class="form-control" Text="0" />
                                            </div>
                                        </div>
                                       
                                        <div class="col-sm-6" id="divPFEmployee" runat="server">
                                            <div class="form-group">
                                                <h4>PF Employee <span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator10" ControlToValidate="txtPFEmployee" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                 <asp:TextBox runat="server" id="txtPFEmployee" AutoPostBack="true" OnTextChanged="txtSimpleHours_TextChanged" class="form-control" Text="0" />
                                            </div>
                                        </div>
                                       
                                        
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <h4>Severance Pay<span style="color: red !important;">*</span>
                                                    <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator3" ControlToValidate="txtAmount" ErrorMessage="*" Display="Dynamic" ValidationGroup="btnValidate" ForeColor="Red" />
                                                </h4>
                                                <asp:TextBox ID="txtAmount" runat="server" placeholder="Amount" TextMode="Number" class="form-control" Text="0"></asp:TextBox>
                                            </div>
                                        </div>
                                      
                                    
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h4>Notes</h4>
                                    </div>
                                    <textarea class="form-control" id="txtNotes" placeholder="Notes" type="text" runat="server" style="max-width: 100% !important;" />
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                                                <div class="col-md-12">
                                    
                                            <div class="form-group" id="divAlertMsg" runat="server">
                                                <div class="alert tf-alert-danger" id="divAlertTheme" runat="server">
                                                    <span>
                                                        <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                                                    </span>
                                                    <p id="pAlertMsg" runat="server">
                                                    </p>
                                                </div>
                                            </div>
                                       
                                </div>
                            </div>
                        </div>
                                        </ContentTemplate>
                                   <%-- <Triggers>
                                        <asp:PostBackTrigger ControlID="btnMonth"  /> 
                                    </Triggers>--%>
                                </asp:UpdatePanel>
                                        </div>
                       <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <br />
                    <br />
                    <br />
                </section>
                <!-- #dash-content -->
            </div>
            <!-- .wrap -->
            <uc:Footer ID="footer1" runat="server"></uc:Footer>
        </main>
        <!--========== END app main -->
        <uc:Scripts ID="script1" runat="server"></uc:Scripts>
        <style>
            .tf-back-btn {
                background-color: #575757;
                padding: 10px 10px 10px 10px;
                border-radius: 100px;
                border: none !important;
                color: #fff;
            }

                .tf-back-btn i {
                    color: #fff !important;
                }

            .total {
                font-weight: bold;
                font-size: 20px;
                color: #188ae2;
            }
        </style>
           
        <!-- Modal -->
    </form>
</body>


</html>
