﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Designation.aspx.cs" Inherits="Technofinancials.Administrator.view.Designation" %>

<%@ Register Src="~/usercontrols/Header.ascx" TagName="Header" TagPrefix="uc" %>
<%@ Register Src="~/Administrator/usercontrols/Sidebar.ascx" TagName="SideBar" TagPrefix="uc" %>
<%@ Register Src="~/usercontrols/Footer.ascx" TagName="Footer" TagPrefix="uc" %>
<%@ Register Src="~/usercontrols/Stylesheets.ascx" TagName="StyleSheets" TagPrefix="uc" %>
<%@ Register Src="~/usercontrols/Scripts.ascx" TagName="Scripts" TagPrefix="uc" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<uc:StyleSheets ID="styleSheet1" runat="server"></uc:StyleSheets>
</head>
<body class="menubar-left menubar-unfold menubar-light theme-primary ">
<form id="form1" runat="server">
<asp:ScriptManager ID="scrptmngr" runat="server"></asp:ScriptManager>
<uc:Header ID="header1" runat="server"></uc:Header>
<uc:SideBar ID="sidebar2" runat="server"></uc:SideBar>
<!-- APP MAIN ==========-->
<main id="app-main" class="app-main">
    <input type="hidden" id="hdnCompanyName" value="<% Response.Write(Common.RemoveSpecialCharacter(Session["CompanyName"].ToString()).Replace(" ", "-").ToLower()); %>" />
    <div class="wrap">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <h1 class="m-0 text-dark">Designations</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div style="text-align: right;">
                            <a href="<% Response.Write("/" + Common.RemoveSpecialCharacter(Session["CompanyName"].ToString()).Replace(" ", "-").ToLower() + "/directors/manage/designations/add-new-designation"); %>" class="AD_btn">Add</a>

                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>



        <section class="app-content">
            <%--<div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <img src="/assets/images/Designations.png" class="img-responsive tf-page-heading-img" />
                    <h3 class="tf-page-heading-text">Designations</h3>
                </div>

                <div class="col-sm-4" style="margin-top: 10px;">
                    <div class="pull-right">
                    </div>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                </div>
            </div>--%>
            <div class="row ">
                <div class="tab-content ">
                    <div class="tab-pane active">
                       <div class="col-sm-12 adminpanel-padding-bottom">
                            <asp:GridView ID="gv" runat="server" CssClass="table table-bordered gv" ClientIDMode="Static" AutoGenerateColumns="false" ShowHeaderWhenEmpty="true">
                                <Columns>
                                                                                  <asp:TemplateField HeaderText="Sr.No.">
                                                    <ItemTemplate>
                                                        <%#Container.DataItemIndex+1 %>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Name">
                                        <ItemTemplate>
                                            <asp:Label runat="server" ID="lblCol2" Text='<%# Eval("DesgTitle") %>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Department">
                                        <ItemTemplate>
                                            <asp:Label runat="server" ID="lblCol3" Text='<%# Eval("DeptName") %>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="View">
                                        <ItemTemplate>
                                          <%--  <a href="<%#  "/" + Common.RemoveSpecialCharacter(Session["CompanyName"].ToString()).ToLower().Replace(" ","-") + "/directors/manage/designations/edit-designation-" + Eval("DesgID") %>" class="edit-class" >Edit</a>
                                           --%> 
                                            <asp:LinkButton ID="lnkDelete" runat="server" CssClass="delete-class"  CommandArgument='<%# Eval("DesgID") %>' OnClick="lnkDelete_Click">Delete</asp:LinkButton>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                </Columns>
                            </asp:GridView>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->
    <uc:Footer ID="footer1" runat="server"></uc:Footer>
</main>
<!--========== END app main -->
<uc:Scripts ID="script1" runat="server"></uc:Scripts>
<script src="/business/scripts/ViewDesignations.js"></script>

<style>
    .tf-note-btn {
        background-color: #575757;
        padding: 10px 8px 7px 10px;
        border-radius: 100px;
        border: none !important;
        color: #fff;
    }

        .tf-note-btn i {
            color: #fff !important;
        }

    .tf-disapproved-btn {
        background-color: #575757;
        padding: 10px 8px 7px 10px;
        border-radius: 100px;
        border: none !important;
        color: #fff;
    }

        .tf-disapproved-btn i {
            color: #fff !important;
        }


    .tf-add-btn {
        background-color: #575757;
        padding: 4px 9px 4px 10px !important;
        border-radius: 100px;
        border: none !important;
        color: #fff;
    }

        .tf-add-btn i {
            color: #fff !important;
        }

    .tf-add-btn {
        background-color: #575757;
        padding: 12px 10px 8px 10px !important;
        border-radius: 100px;
        border: none !important;
        color: #fff;
    }

        .tf-add-btn i {
            color: #fff !important;
        }
        div#gv_wrapper {
    margin-bottom: 15%;
}
</style>
</form>
</body>
</html>
