﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Scripts.ascx.cs" Inherits="Technofinancials.usercontrols.Scripts" %>
<script src="/libs/bower/breakpoints.js/dist/breakpoints.min.js"></script>
<script>
    Breakpoints();
</script>
<script src="/libs/bower/jquery/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<%--<script src="/libs/bower/jquery-ui/jquery-ui.min.js"></script>--%>
<script src="/libs/bower/jQuery-Storage-API/jquery.storageapi.min.js"></script>
<script src="/libs/bower/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<%--<script src="/libs/bower/jquery-slimscroll/jquery.slimscroll.js"></script>--%>
<script src="/libs/bower/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="/assets/js/library.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/libs/bower/moment/moment.js"></script>
<script src="/libs/bower/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/assets/js/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap.min.js"></script>

<script src="/assets/js/dataTables.buttons.min.js"></script>
<script src="/assets/js/PA/emoji.min.js"></script>
<script src="/assets/js/PA/jquery.barrating.js"></script>
 <script src="/assets/js/printThis.js"></script>



<script src="/assets/js/PA/emoji.min.js"></script>
<script src="/assets/js/PA/jquery.barrating.js"></script>
<%--<script>
   
</script>--%>
<script src="/libs/bower/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="/libs/bower/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://github.com/niklasvh/html2canvas/releases/download/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Base64/1.0.2/base64.min.js"></script>
<script src="/assets/js/canvas2image.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>


<script>


    $(document).ready(function () {
        GetNotifications();
        setInterval(function () { GetNotifications(); }, 15000);
    });


    
    function onlyAlphabets(e, t) {

        //try {

        //    if (window.event) {

        //        var charCode = window.event.keyCode;

        //    }

        //    else if (e) {

        //        var charCode = e.which;

        //    }

        //    else { return true; }

        //    if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))

        //        return true;

        //    else

        //        return false;

        //}

        //catch (err) {

        //    alert(err.Description);

        //}
        if (e.altKey) {
            return true;
        } else {
            var key = e.keyCode;
            if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                return true;
            } else {
                return false;
            }
        }

    }
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        //$('.select2').select2();
        //$(function () {
        //    $('.datetime-picker').datetimepicker();
        //});

    });

    $(document).ready(function () {
        Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);
        function EndRequestHandler(sender, args) {
            //$('.datetime-picker').datetimepicker();   
            }

    });

    
    //$(".delete-class").confirm({
    //    title: "Confirmation Required!!",
    //    confirm: function (button) {
    //        location.href = this.$target.attr('href');
    //    },
    //    cancel: function (button) {
    //    },
    //    post: true,
    //});

    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }

    

    function pageLoad(sender, args) {


        //$('.value3').each(function() {
        //    value =$(this).val();
        //    if (value != "") {

        //        value = value.replace(/^0+/, '');

        //        //return '$' + value.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        //        var decimalCount;
        //        value.match(/\./g) === null ? decimalCount = 0 : decimalCount = value.match(/\./g);

        //        if (decimalCount.length > 1) {
        //            value = value.slice(0, -1);
        //        }

        //        var components = value.toString().split(".");
        //        if (components.length === 1)
        //            components[0] = value;
        //        components[0] = components[0].replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        //        if (components.length === 2) {
        //            components[1] = components[1].replace(/\D/g, '').replace(/^\d{3}$/, '');
        //        }

        //        if (components.join('.') != '')
        //            $('.tfCurrencyFormater2').val('' + components.join('.'));
        //        else
        //            $('.tfCurrencyFormater2').val('');
        //    }

        //});





        $('.tfCurrencyFormater').on('keyup click change paste input', function (event) {
            $(this).val(function (index, value) {
                if (value != "") {

                    value = value.replace(/^0+/, '');

                    //return '$' + value.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    var decimalCount;
                    value.match(/\./g) === null ? decimalCount = 0 : decimalCount = value.match(/\./g);

                    if (decimalCount.length > 1) {
                        value = value.slice(0, -1);
                    }

                    var components = value.toString().split(".");
                    if (components.length === 1)
                        components[0] = value;
                    components[0] = components[0].replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                    if (components.length === 2) {
                        components[1] = components[1].replace(/\D/g, '').replace(/^\d{3}$/, '');
                    }

                    if (components.join('.') != '')
                        return '' + components.join('.');
                    else
                        return '';
                }
            });
        });

        $('.tfCurrencyFormater').each(function () {
            temp = parseFloat(($(this).val()).replace(/,/g, '')) || 0.0;
            if (temp == '') {
                temp = 0;
            }
            console.log(temp);
            $(this).val(formatNumber(temp));
        });

        $('.tfCurrencyFormaterlabel').each(function () {
            temp = parseFloat(($(this).text()).replace(/,/g, '')) || 0.0;
            if (temp == '') {
                temp = 0;
            }
            console.log(temp);
            $(this).text(formatNumber(temp));
        });

        $('.select2').select2();
        $(".delete-class").confirm({
            title: "Confirmation Required!!",
            confirm: function (button) {
                location.href = this.$target.attr('href');
            },
            cancel: function (button) {
            },
            post: true,
        });

        

        //$('.datetime-picker').datetimepicker();

        $(".datetime-picker").datetimepicker({
        });


        $(".month-picker").datetimepicker({

            format: 'MMM-YYYY'
        });

        $(".month-picker-Finance").datetimepicker({
          
            format: 'MMM-YYYY'
        });

        $(".year-picker").datetimepicker({

            format: 'YYYY'
        });



        $(".time-picker").timepicker({
           
        });

        $(function () {
            $(".gv").DataTable({
                dom: 'Bfrtip',
                retrieve: true,
                searching: true,
                lengthChange: true,
                buttons: [
                    'print', 'pdf', 'excel'
                ],
                pageLength: 10,
                fnDrawCallback: function (settings) {

                    console.log(settings._iDisplayStart);
                    console.log(settings);
                }
            });

            $('.buttons-excel span').html('<span "Excel Export"><i class="fa fa-file-excel-o icn2" aria-hidden="true"></i></span>');
            $('.buttons-pdf span').html('<span "PDF Export"><i class="fa fa-file-pdf-o icn2" aria-hidden="true"></i></span>');
            $('.buttons-print span').html('<span "Print"><i class="fa fa-print icn2" aria-hidden="true"></i></span>');

        });

        $(function () {
            $(".gvcsv").DataTable({
                dom: 'Bfrtip',
                retrieve: true,
                searching: true,
                lengthChange: true,
                buttons: [
                    {
                        extend: 'csvHtml5',
                        text: 'Download',
                        fieldSeparator: ',',
                        fieldBoundary: '',
                       // header: false,
                       
                        filename: function () {
                            var today = new Date();
                            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

                            var n = date + " " + time;
                            return 'CSV Report ' + n;
                        },
                    }
                   
                ]
            });

            $('.buttons-excel span').html('<span "Excel Export"><i class="fa fa-file-excel-o icn2" aria-hidden="true"></i></span>');
            $('.buttons-pdf span').html('<span "PDF Export"><i class="fa fa-file-pdf-o icn2" aria-hidden="true"></i></span>');
            $('.buttons-print span').html('<span "Print"><i class="fa fa-print icn2" aria-hidden="true"></i></span>');

        });

        var currentPageURL = window.location.pathname;
        if (currentPageURL.includes("finance/manage/direct-payment/edit-direct-payment") || currentPageURL.includes("finance/manage/goods-receive-notes/edit-goods-receive-note") || currentPageURL.includes("finance/manage/purchase-orders/edit-purchase-order") || currentPageURL.includes("finance/manage/invoice/edit-invoice") ) {
            tranID = $('#hdnTransactionID').val();
            console.log(tranID);
            if (tranID != '0' && tranID != '') {
                $('#GenVoucherPDF').click();
            }
            $('#hdnTransactionID').val('0')
        }


        if (currentPageURL.includes("people-management/view/employees")) {
            if ($('#hdnIsRedirect').val() == "1") {
                $('#hdnIsRedirect').val('0');
                window.open($('#hdnLinkRedirect').val());
            }
        }
            

    }

    //function pageLoad(sender, args) {
    //    $('.gv thead tr').clone(true).appendTo('.gv thead');
    //    $('.gv thead tr:eq(1) th').each(function (i) {
    //        var title = $(this).text();
    //        $(this).html('<input type="text" placeholder="Search" class="tdSearch"  />');

    //        $('input', this).on('keyup change', function () {
    //            if (table.column(i).search() !== this.value) {
    //                table
    //                    .column(i)
    //                    .search(this.value)
    //                    .draw();
    //            }
    //        });
    //    });

    //    var table = $('.gv').DataTable({
    //        orderCellsTop: true,
    //        fixedHeader: true,
    //        dom: 'Bfrtip',
    //        searching: true,
    //        lengthChange: true,
    //        buttons: [
    //            'print', 'pdf', 'excel'
    //        ]
    //    });
    //}

    //$(function () {
       
    //    $('.buttons-excel span').html('<span "Excel Export"><i class="fa fa-file-excel-o icn2" aria-hidden="true"></i></span>');
    //    $('.buttons-pdf span').html('<span "PDF Export"><i class="fa fa-file-pdf-o icn2" aria-hidden="true"></i></span>');
    //    $('.buttons-print span').html('<span "Print"><i class="fa fa-print icn2" aria-hidden="true"></i></span>');

    //});
    
    //$('.phone-no-val', '#form1')

    //.keydown(function (e) {
    //    var key = e.charCode || e.keyCode || 0;
    //    $phone = $(this);

    //     Auto-format- do not expose the mask as the user begins to type
    //    if (key !== 8 && key !== 9) {
    //        if ($phone.val().length === 4) {
    //            $phone.val($phone.val() + ')');
    //        }
    //        if ($phone.val().length === 5) {
    //            $phone.val($phone.val() + ' ');
    //        }
    //        if ($phone.val().length === 9) {
    //            $phone.val($phone.val() + '-');
    //        }
    //    }

    //     Allow numeric (and tab, backspace, delete) keys only
    //    return (key == 8 ||
    //        key == 9 ||
    //        key == 46 ||
    //        (key >= 48 && key <= 57) ||
    //        (key >= 96 && key <= 105));
    //})

    //.bind('focus click', function () {
    //    $phone = $(this);

    //    if ($phone.val().length === 0) {
    //        $phone.val('(');
    //    }
    //    else {
    //        var val = $phone.val();
    //        $phone.val('').val(val); // Ensure cursor remains at the end
    //    }
    //})

    //.blur(function () {
    //    $phone = $(this);

    //    if ($phone.val() === '(') {
    //        $phone.val('');
    //    }
    //});

    $('.cnic-val', '#form1')

        .keydown(function (e) {
            var key = e.charCode || e.keyCode || 0;
            $phone = $(this);

            // Auto-format- do not expose the mask as the user begins to type
            if (key !== 8 && key !== 9) {
                if ($phone.val().length === 5) {
                    $phone.val($phone.val() + '-');
                }

                if ($phone.val().length === 13) {
                    $phone.val($phone.val() + '-');
                }
            }

            // Allow numeric (and tab, backspace, delete) keys only
            return (key == 8 ||
                key == 9 ||
                key == 46 ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
        })

        .bind('focus click', function () {
            $phone = $(this);


            var val = $phone.val();
            $phone.val('').val(val); // Ensure cursor remains at the end

        })

        .blur(function () {
            $phone = $(this);

            if ($phone.val() === '(') {
                $phone.val('');
            }
        });




    $(function () {
        $('.AphabetOnly').keydown(function (e) {
            if (e.altKey) {
                e.preventDefault();
            } else {
                var key = e.keyCode;
                if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                    e.preventDefault();
                }
            }
        });
    });




    $(".digitsOnly").on("keypress keyup blur", function (event) {
        //this.value = this.value.replace(/[^0-9\.]/g,'');
        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });



    function GetNotifications() {
        var x = document.getElementById("NotificationAudio");
        $('#NotificatioCount').html('0');
        $.ajax({
            type: "POST",
            url: '/business/services/NotificationService.asmx/GetAllNotificationsByUserID',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var data = response.d;
                //var tbl = $("#tblNotification");
                var tbl = $("#style-12");
                tbl.empty();
                tbl.html('');
                tbl.append("<li><h5 class=''>Notifications <span class='float-right'><a class='clearAllA' onclick='ViewAll();'>Clear All</a></span></h5>");
                var count = 0;
                var isBell = 'False';

                $.each(data, function (key, data) {
                    count = count + 1;
                    if (data.isBell == 'True') {
                        isBell = data.isBell;
                    }
                    tbl.append("<li onclick='View(" + data.NotificationID + ",\"" + data.DocumentManagePageLink + "\");'><div><a class='notiheading'>" + data.NotificationMsg + "</a><p><i class='fa fa - calendar' style='margin - right: 5px; ' aria-hidden='true'></i>" + data.CreatedDate + "<span><i class='fa fa - user' style='margin - right: 5px; ' aria-hidden='true'></i>" + data.CreatedBy + "</span></p></div></li>");
                    //tbl.append("<tr><td>" + count + "</td><td>" + data.NotificationMsg + "</td><td> <span data-toggle='tooltip' 'View' onclick='View(" + data.NotificationID + ",\"" + data.DocumentManagePageLink +"\");'> <i class='fa fa-eye' aria-hidden='true'></i> </span></td>");

                });

                //NotificatioCount
                $('#NotificatioCount').html(count + '');

                if (isBell == 'True') {
                    x.play();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) { console.log(errorThrown); }
        });

    }

    function View(ID, URL) {
        $.ajax({
            type: "POST",
            url: '/business/services/NotificationService.asmx/UpdateNotificationView',
            data: '{NotificationID: ' + JSON.stringify(ID) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                window.location = "" + URL;

            },
            error: function (jqXHR, textStatus, errorThrown) { console.log(errorThrown); }
        });
    }

    function ViewAll() {
        $.ajax({
            type: "POST",
            url: '/business/services/NotificationService.asmx/UpdateNotificationViewAll',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                GetNotifications();
            },
            error: function (jqXHR, textStatus, errorThrown) { console.log(errorThrown); }
        });

    }

     $(function () {
        function ratingEnable() {
            $('.example-fontawesome').barrating({
                theme: 'fontawesome-stars',
                showSelectedRating: false
            });
        }
        ratingEnable();
    });


</script>
 <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"  
        type="text/javascript"></script>  
   