﻿.navbar {
    min-height: 55px !important;
}
span.brand-name img {
    width: 210px;
}
.navbar-brand {
    padding: 5px 20px !important;
}
.tf-footer-wrapper {
    width: calc(100% - 0px);
}

/*Tearms Of Use Page CSS */




.header-bg-div {
    /*   background-image: url(/assets/images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 470px;*/
    background-image: url(/assets/images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.footer-bg-div {
    background-image: url(/assets/images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    padding-bottom: 15px;
}

.footer-tf-logo {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

/*.header-name-slide {
    padding-left: 100px;
    color: white;
    font-weight: bold;
    padding-bottom: 15px;
    font-size:50px;
}

.header-name-div {
    background: #929191;
    width: 35%;
    position: absolute;
    bottom: 70px;
}*/

ul.ull li:before {
    display: none;
}

internal-li li:before{
    display:none;
}

.terms-of-use-main-div {
    display: block;
    margin: auto;
    width: 95%;
    margin-bottom: 30px;
}

.terms-of-use-heading {
    font-weight: bold;
    color: black;
}
.terms-of-use-p {
    color: black;
}

#list-1 {
    list-style-type: decimal;
    color: black;
}
.list-1-inner-ul {
    list-style-type: disc;
}

.footer-bg-inner-div {
    display: block;
    margin: auto;
    width: 95%;
}

.footer-links-div {
    display: block;
    width: 75%;
    margin-top: 20px;
}

.footer-links-div-2 {
    display: block;
    width: 72%;
    margin-top: 20px;
}

.ull {
    list-style-type: none;
    color: white;
}



.ull-li {
    font-size: 20px;
}

.ull-li a{
    color: white;
}
.footer-bg-div-hr {
    border-top: 1px solid white;
}
.textbox-label {
    color: white;
    font-size: 18px;
    margin-top: 40px;
}

.trusted-digital-partner {
    color: white;
    display: inline-block;
    font-size: 20px;
}

.copyright-footer {
    text-align: right;
    color: white;
    font-size: 17px;
    margin-bottom: 0px;
    line-height: 2.5;
}
/*Login-slider Page CSS */
.slider-body {
    /*background: none !important;*/
}

.heading-color {
    color: #003780;
    font-weight:600;
    font-size:22px;
    margin-top:0;
   
}
.bottom-section-data-div {
    display: block;
    margin: auto;
    width: 85%;
}
.bottom_row {
    background: #d1d1d1;
    height: 24.99vh;
    padding: 40px 20px 20px;
}
/*Login Page CSS */
    body {
    background-image: url(/assets/images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px;
}
.form-col {
 /*   background-image: url(../images/form-col-bg.jpg);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.tf-logo-center{
    display:block;
    margin:0 auto;
}
.signup-form input {
    font-size: 12px !important;
     margin-bottom: 10px ; 
    border-radius: 8px 8px 8px 8px !important;
}
.btn-login {
    width: 75%;
    display: block;
    color: #fff;
    background-color: #003780;
    margin: 20px auto !important;
    padding: 7px 0;
    outline: 0;
    border: 0;
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    font-family: Noto-Regular;
    transition: all .2s linear;
    /*background-color: #003780;
    color: #fff;
    width: 84%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;*/
}
./*signup-form .form-control {*/
/*    height: calc(1.5em + .75rem + 2px) !important;
*/    /*padding: .375rem .75rem;
}*/
.signup-form .form-group h4, label {
    
    margin:0 !important
}
.btn-login:hover, .btn-login:focus {
    color: #fff !important;
    background-color: #2b2b2b;
    transition: all .2s linear;
}
.signup-inner {
    max-width: 325px;
    margin: 20% auto 0;
    /*width: 360px;
    margin-bottom: 64px !important;
    margin-top: 70px !important;
    display: block;
    margin: 0 auto;*/
}
    .signup-inner h3 {
        color: #fff;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        font-family: barlow-semibold;
        font-size: 30px;
        margin-bottom: 0px;
    }
        .signup-inner h3 i {
            color: #fff;
            padding: 10px;
            font-size: 30px;
            text-align: center;
            font-family: fontawesome;
            font-style: normal;
        }
    .signup-inner i {
        font-family: fontawesome;
        font-style: normal;
    }
.ForgotPass {
    float: right;
    font-size: 14px;
    font-family: Noto-Regular !important;
    color: #003780 !important;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
}
    .ForgotPass:hover {
        border-bottom: 1px solid;
        padding-bottom: 3px;
    }
div.signup-form {
    width: 100%;
    height: auto;
padding: 0px 10px;
/*    margin-top:30px;
*/}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    background-color: #0d0f41;
    border: 1px solid #0d0f41;
    border-radius: 4px;
}
.btn-save {
    display: block;
    margin: 0 auto;
    background-color: #0d0f41;
    color: #fff;
    border-color: #0d0f41;
    margin-bottom: 20px;
    margin-top: 30px;
}
    .btn-save:hover {
        background-color: #5d3ab1;
        color: #fff;
        border-color:#5d3ab1;
    }
.tf-alert-danger {
    background-position: 0% 0%;
    border: 1px solid #dc3545 !important;
    color: #721c24 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dc3545 !important;
    background-image: none !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
}
    .tf-alert-danger p {
        display: inline-block;
        margin-top: 6px;
        position: absolute;
        margin-left: 10px;
        width: 69%;
        
    }
.features-login {
    margin-top: 58%;
}
.features-login h4 {
    color: #fff;
    font-size: 24px;
    font-weight:bold;
}


.features-login p{
    color:#fff;

}
.features-login ul li{
    color:#fff;
}
/* Security Page CSS */
div.signup-form .input-group {
    margin-bottom: 13px;
    width: 100%;
}
/* Reset Password Page CSS */

.email-anchor {
    background-color: #188ae2;
    cursor:pointer;
}
    .email-anchor div:hover {
        background-color: #213d7c;
        color: #fff;
    }
    .email-anchor i {
    font-size: 22px;
    padding-right: 10px;
}
    .email-anchor div {
        /* background-color: #188ae2; */
        color: #213d7c;
        text-align: left;
        padding: 10px 10px;
        margin-bottom: 15px;
        border: 2px solid #213d7c;
    }
a.email-anchor span {
    margin-top: -10px !important;
}
    .block{
    display:block;
    display:none;
}
.security-anchor {
    background-color: #188ae2;
    cursor: pointer;
}
    .security-anchor div:hover {
        background-color: #213d7c;
        color: #fff;
    }
    .security-anchor div {
        /* background-color: #188ae2; */
        color: #213d7c;
        text-align: left;
        padding: 10px 10px;
        margin-bottom: 15px;
        border: 2px solid #213d7c;
    }
.security-anchor i {
    font-size: 22px;
    padding-right: 10px;
}
a.security-anchor span {
    margin-top: -10px !important;
}
.btn-save i {
    font-size: 19px;
    padding-top: -16px;
    position: absolute;
    margin-top: -4px;
    margin-left: -10px;
    padding-left: 0px;
}
.reset-btn button {
    padding-left: 25px;
}