﻿/* new css start*/
.alert {
    margin-top: 20px;
}
.d-none {
    display: none !important;
}
    .form-group h4 span {
    display: none;
}
i.fa.img-responsive.tf-sidebar-icons {
    font-size: 18px;
}
.Off{
    color: #ffc107;
    font-weight: bold;
}

button#btnView {
    padding: 3px 24px !important;
    margin-top: 13px !important;
}
.select2-results__option {
    font-size: 13px;
}
span.brand-icon {
    display: block !important;
}
/*.checkbox label::after {
    padding-top: 0px !important;
}*/
body.menubar-left .navbar-container {
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 8%); */
}
.login_img{
    max-width:100% !important;
}
span.brand-name img {
    max-width: 100% !important;
}
::-webkit-scrollbar-thumb {
    background: #207cba;
    border-radius: 5px;
}
ul.nav.navbar-toolbar.navbar-toolbar-right.navbar-right {
    display: inline-flex !important;
}
@font-face {
    font-family: Noto-Bold;
    .modal-content src: url("../fonts/NotoSans-Bold.ttf") format("opentype");
}

@font-face {
    font-family: Noto-Regular;
    src: url("../fonts/NotoSans-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Noto-SemiBold;
    src: url("../fonts/NotoSans-SemiBold.ttf") format("opentype");
}

*:hover, *:focus {
    outline: none;
    box-shadow: none;
}

a {
    color: #003780;
}

ul#style-12 a:hover, ul#style-12 a:focus {
    color: #fff;
}
body {
    color: #343a40;
}

h1,
h2,
h3,
h5,
h6,
th,
a {
    font-family: Noto-SemiBold;
}

p, li, ul, button, span, td, widget, .text-color {
    font-family: Noto-Regular;
}

.centre {
    text-align: center !important
}

.AD_btn {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 700;
    color: #003780;
    background: none;
    border: 0;
    border-bottom: 2px solid transparent !important;
    border-radius: 0;
    padding: 5px;
}

    .AD_btn:hover {
        color: #000;
        border-bottom: 2px solid #000 !important;
    }

.add_new {
    text-align: right;
}

.AD_btn_inn {
    margin: 0;
    background: #003780;
    padding: 7px 24px;
    color: #fff;
    border: 1px solid #003780;
    border-radius: 4px;
    font-weight: 900;
    transition: all .2s linear;
    cursor: pointer;
}

    .AD_btn_inn:hover {
        background: #fff;
        color: #003780;
        transition: all .2s linear;
    }

.AD_stock {
    text-align: center;
    margin-top: 0;
    width: 100%;
    max-width: 85px;
    display: block;
    padding: 3px;
    font-size: 12px;
    background: #003780;
    color: #fff;
    border: 1px solid #003780;
    border-radius: 4px;
    font-weight: 900;
    transition: all .2s linear;
}

    .AD_stock:hover {
        background: #fff;
        color: #003780;
        transition: all .2s linear;
    }

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #003780;
    background-color: transparent;
    border-bottom: 2px solid #003780;
}
/* new css end */
/* main settings */
/*@font-face {
font-family: 'Candara';
src: url(/assets/fonts/Candara.ttf);
}*/
/*body, h1 , h2 , h3 , h4 , h5, h6 , p {
font-family: 'Roboto', sans-serif !important;
}*/


.upd_panel {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

    .upd_panel .center {
        z-index: 1000;
        margin: 300px auto;
        padding: 10px;
        width: 380px;
        height: 380px;
        background-color: black;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

        .upd_panel .center img {
            height: 320px;
            width: 320px;
            position: absolute !important;
            top: 32% !important;
            left: 28% !important;
        }

body {
    background: #f7f7f7 !important;
    /*font-family: Candara !important;*/
}

.widget-title {
    display: inline-block;
    font-size: 24px !important;
    margin: 0 !important;
    text-transform: capitalize;
    color: #343a40 !important;
    font-family: Noto-SemiBold;
}
.widget-separator {
    margin-top: 0 !important;
}

.tf-navbar {
    background-color: #fff !important;
}

.tf-footer {
    /*padding-top: 5px;
padding-bottom: 0;
border: none !important;*/
    padding: 3px 40px 3px 0;
    /* padding-bottom: 0; */
    border: none !important;
}

.tf-footer-wrapper {
    bottom: 0;
    position: fixed;
    width: calc(100% - 220px);
    border-top: 1px solid #2b2b2b;
    z-index: 9;
}

.tf-header-padding {
    padding-top: 0;
    padding-bottom: 5px;
}

.tf-border-right {
    border-right: 1px solid #fff;
}

.tf-first-menu {
    margin-top: 25px;
}

.tf-sidebar {
    background-color: #fafafa !important;
}

.tf-sidebar-icons {
    max-height: 20px !important;
    display: inline-block !important;
    margin-right: 10px;
}

.tf-user-icon {
    max-height: 30px !important;
    display: inline-block !important;
}

.tf-user-a {
    padding: 6px 15px !important;
}

.tf-user-quick-add {
    padding: 10px 5px !important;
    max-height: 30px !important;
    display: inline-block !important;
}

    .tf-user-quick-add img {
        max-height: 25px !important;
        display: inline-block !important;
    }



.tf-user-name {
    text-align: center;
    background-color: #188ae2 !important;
    color: #fff !important;
}


.tf-menu-caret {
    font-size: 1.2rem !important;
}

.tf-sidebar-menu-items ul li:active {
    border-left: 7px solid #003780;
    color: #ffffff !important;
    background: #616161;
}

/*.tf-sidebar-menu-items ul li:hover {
    background: #6b6b6b59;
    color: #fff !important;
    border-left: 7px solid #003780 !important;*/
    /*background-color: #f2f1f1 !important;
border-left: 7px solid #007eff !important;*/
/*}*/

.tf-sidebar-menu-items ul li ul li:hover {
    border: none !important;
    background-color: #188ae2 !important;
}

    .tf-sidebar-menu-items ul li ul li:hover a {
        color: #fff !important;
    }

.tf-sidebar-menu-items a {
    color: #000 !important
}

.tf-vno {
    text-align: center;
    position: absolute;
    bottom: -1px;
    width: 100%;
    color: #fff !important;
    border-top: 1px solid;
    padding: 4px 0;
}

.tf-footer-logo {
    height: 18px;
}

.tf-footer-name {
    color: #fff;
}

    .tf-footer-name:hover {
        color: #fff;
    }

.tf-color-white {
    color: #fff !important;
}

.tf-footer-border-right {
    border-right: 1px solid #343a40;
}

.tf-font-times-new-roman {
    font-size: 12px !important;
}

.tf-mt-5 {
    margin-top: 5px;
}

.tf-alert-danger {
    border: 1px solid #dc3545 !important;
    background: none !important;
    color: #000 !important;
    background-color: #dc3545 !important;
}

    .tf-alert-danger span i {
        color: #fff;
    }

    .tf-alert-danger p {
        display: inline-block;
        margin-top: 0px;
        position: absolute;
        margin-left: 7px;
        font-size: 13px;
        color: #fff;
        margin-right: 7px;
        padding-right: 4px;
    }

.tf-alert-success p {
    display: inline-block;
    margin-top: 5px;
    position: absolute;
    margin-left: 7px;
    font-size: 13px;
    color:#fff;
}

.tf-alert-success {
    border: 1px solid #28a745 !important;
    background: none !important;
    color: #000 !important;
    background-color: #28a745 !important;
}

    .tf-alert-success span i {
        color: #fff;
    }

.radio-danger {
    color: #f94949;
}

.radio-success {
    color: #a7d700;
}

.tf-approved-btn {
    background-color: #575757;
    padding: 4px 9px 5px 9px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-approved-btn:hover {
        background-color: #a7d700;
    }

    .tf-approved-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-back-btn {
    background-color: #575757;
    padding: 4px 10px 6px 10px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-back-btn:hover {
        background-color: #222222;
    }


    .tf-back-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-disapproved-btn {
    background-color: #575757;
    padding: 4px 10px 6px 10px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-disapproved-btn:hover {
        background-color: #f94949;
    }

    .tf-disapproved-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-excel-btn {
    background-color: #575757;
    padding: 4px 10px 6px 10px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-excel-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-exit-btn {
    background-color: #575757;
    padding: 8px 10px 7px 10px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-exit-btn:hover {
        background-color: #222222;
    }

    .tf-exit-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-note-btn {
    background-color: #575757;
    padding: 6px 10px 7px 10px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-note-btn:hover {
        background-color: #007eff;
    }

    .tf-note-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-pdf-btn {
    background-color: #575757;
    padding: 8px 11px 7px 10px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-pdf-btn:hover {
        background-color: #4242d8;
    }

    .tf-pdf-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-print-btn {
    background-color: #575757;
    padding: 8px 10px 7px 10px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-print-btn:hover {
        background-color: #007eff
    }

    .tf-print-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-review-btn {
    background-color: #575757;
    padding: 4px 11px 6px 11px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-review-btn:hover {
        background-color: #007eff;
    }

    .tf-review-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-save-btn {
    background-color: #575757;
    padding: 4px 10px 6px 10px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-save-btn:hover {
        background-color: #f4a406;
    }

    .tf-save-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-send-btn {
    background-color: #575757;
    padding: 4px 10px 6px 8px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-send-btn:hover {
        background-color: #a7d700;
    }

    .tf-send-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-add-btn {
    background-color: #575757;
    /*padding: 4px 11px 6px 10px;*/
    padding: 7px 9px 7px 10px;
    border-radius: 100px;
    border: none;
    color: #fff;
    margin-bottom: 4px;
}

    .tf-add-btn:hover {
        background-color: #0d0f41;
    }

    .tf-add-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-download-btn {
    background-color: #575757;
    padding: 9px 9px 7px 10px;
    border-radius: 100px;
    border: none;
    color: #fff;
    margin-bottom: 12px;
}

    .tf-download-btn:hover {
        background-color: #0d0f41;
    }

    .tf-download-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-next-btn {
    background-color: #575757;
    /*padding: 4px 11px 6px 10px;*/
    padding: 9px 11px 6px 13px;
    border-radius: 100px;
    border: none;
    color: #fff;
    margin-bottom: 12px;
}

    .tf-next-btn:hover {
        background-color: #4242d8;
    }

    .tf-next-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }


.tf-upload-btn {
    background-color: #575757;
    padding: 8px 9px 8px 9px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-upload-btn:hover {
        background-color: #4242d8;
    }

    .tf-upload-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.tf-view-btn {
    background-color: #575757;
    padding: 4px 10px 6px 10px;
    border-radius: 100px;
    border: none !important;
    color: #fff;
}

    .tf-view-btn:hover {
        background-color: #a7d700;
    }

    .tf-view-btn i {
        font-family: fontawesome;
        font-style: normal;
        font-size: 20px;
    }

.gv-overflow-scrool {
    overflow: auto;
}

.dataTables_filter {
    margin-bottom: 10px;
    float: right;
}
.select2-hidden-accessible .select2-container{
    width: 100%;
}
ul#select2-ddlShifts-results{

                             }

/*media queries*/
@media (max-width: 767px) {
    .navbar-inverse .navbar-collapse {
        background: #1576c2;
    }
    .navbar-toolbar > .open > a, .navbar-toolbar > .open > a:hover, .navbar-toolbar > .open > a:focus {
        background-color: #0d0f41;
    }
}
@media only screen and (max-width: 1599px) and (min-width: 1201px) {
    .select2-container {
        font-size: 11px !important;
    }
    .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
        font-size: 11px !important;
    }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .abc-test {
        left: -5%;
    }
/*    .gv-overflow-scrool div {
        overflow-x: scroll;
        overflow-y: hidden;
    }*/
    h1.m-0.text-dark {
        font-size: 20px !important;
    }

        .app-content .form-group h4 {
        font-size: 12px !important;
    }
    input#btnCalculate {
        margin-top: 24px;
    }
/*        div #gv_filter{
        margin-top:-65px;
    }*/
    .copyright.pull-right {
        float: none !important;
        text-align: center;
    }

    .tf-color-white.tf-font-times-new-roman.tf-mt-5 {
        text-align: center;
    }

    .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
        font-size: 9px !important;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 993px) {
    .abc-test {
        left: -3%;
    }

    .content-header h1{
        font-size:20px !important;
    }
    .copyright.pull-right {
        float: none !important;
        text-align: center;
    }

    .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
        font-size: 11px !important;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 800px) {
    .removetrialMale {
        height: 38px;
        width: 75px;
    }
    .form-group h4, label{
        font-size:13px !important;
    }
    .table_out_data label{
        font-size:11px !important;
    }
    .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
        font-size: 10px !important;
    }
}

@media (max-width: 480px) {
    #login-box{
        width:300px !important;
    }
    .navbar-inverse .navbar-toggle {
        color: #2b2b2b !important;
    }
    div#gv_wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 35px;
    }
    .form-group h4, label {
        margin: -49px 0 5px !important;
    }
    .tf-color-white.tf-font-times-new-roman.tf-mt-5{
        text-align:center;
    }
    .tf-footer {
        padding: 3px 0px 3px 0;
    }
    .app-footer .footer-menu li:last-child{
        float:none;
    }
    .dt-buttons {
        margin-bottom: -20px !important;
    }
    .tf-footer-wrapper {
        position: relative;
        width: 100%;
    }
    table#gv {
        width: 700px;
    }
    ul.nav.navbar-toolbar.navbar-toolbar-left.navbar-left, ul.nav.navbar-toolbar.navbar-toolbar-right.navbar-right {
        display: inline-block;
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: #2b2b2b !important;
    }

    .navbar-inverse .navbar-collapse {
        background-color: #fff;
    }
}

    .navbar {
        min-height: 45px !important;
    }

    .navbar-brand {
        height: 45px !important;
        line-height: 28px !important;
        padding: 15px 20px !important;
    }

    .navbar-toolbar > li > a {
        height: 50px !important;
    }

    .tf-client-logo {
        /*max-height: 40px;
    margin-left: 20px;*/
        max-height: 40px;
        margin-top: 0px;
    }

    /*reports page*/
    .tf-tile {
        box-shadow: inset 0 -15px 30px rgba(0, 0, 0, 0), 0 5px 10px rgba(0,0,0,0.5);
        background-color: #fff !important;
    }

    .tf-border-lime {
        border-color: #A7D700 !important;
    }

        .tf-border-lime:hover {
            background-color: #A7D700 !important;
            color: #FFF;
            border: #fff;
            cursor: pointer;
        }

    .tf-border-black {
        border-color: #222222 !important;
    }

        .tf-border-black:hover {
            background-color: #222222 !important;
            color: #FFF;
            border: #fff;
            cursor: pointer;
        }

    .tf-border-red {
        border-color: #F94949 !important;
    }

        .tf-border-red:hover {
            background-color: #F94949 !important;
            color: #FFF;
            border: #fff;
            cursor: pointer;
        }

    .tf-border-yellow {
        border-color: #F4A406 !important;
    }

        .tf-border-yellow:hover {
            background-color: #F4A406 !important;
            color: #FFF;
            border: #fff;
            cursor: pointer;
        }

    .tf-border-blue {
        border-color: #007EFF !important;
    }

        .tf-border-blue:hover {
            background-color: #007EFF !important;
            color: #FFF;
            border: #fff;
            cursor: pointer;
        }

    .tf-border-purple {
        border-color: #4242D8 !important;
    }

        .tf-border-purple:hover {
            background-color: #4242D8 !important;
            color: #FFF;
            border: #fff;
            cursor: pointer;
        }

    .tf-page-heading-img {
        display: inline-block !important;
        max-height: 30px !important;
        margin-top: -10px !important;
        /*margin-left: 15px;*/
        margin-left: 0;
    }

    .tf-widget {
        box-shadow: inset 0 -15px 30px rgba(0, 0, 0, 0), 0 5px 10px rgba(0,0,0,0.1);
    }

    .tf-bg-purple {
        background-color: #4242D8;
        color: #fff;
    }

    .tf-bg-lime {
        background-color: #A7D700;
        color: #FFF;
    }

    .wrap {
        padding: 0 !important;
    }

    hr {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        border: 0;
        border-top: 1px solid #b9b9b9;
    }

    .pagination > .active > a, .pagination > .active > a:hover {
        background-color: #003780;
        border-color: #003780;
    }
    /* New Hiring Page */
    label {
        /*font-weight:bold!important;*/
        display: block;
    }

    .hiring-or {
        margin-top: 10px;
    }

    .btn-save {
        background-color: #0d0f41;
        color: #fff;
        border-color: #0d0f41;
    }

    .hiring-or {
        font-weight: bold;
        font-size: 16px;
        margin-top: 19px;
    }

    .tf-mg-top {
        margin-top: 20px !important;
    }

    .tf-num-field {
        width: 50px;
    }

    .back-button-top-mg {
        margin-top: 12px;
    }

    .mg-bottom {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    /* Employe List Page */

    .user-img-div img {
        width: 200px !important;
        /*    padding:10px ;*/
    }

    .user-img-div {
        width: 200px;
    }

    .user-img-button {
        padding: 10px;
        border: none;
        border-radius: 4px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .employe-tables h4 {
        margin-top: 32px;
        margin-bottom: 8px;
        font-weight: bold;
        padding-left: 12px;
    }

    /*.select2-container {
width: 100% !important;
}*/

    .form-group {
        margin-bottom: 0px !important;
        display: inline;
    }

    .month-name-table {
        cursor: pointer !important;
    }

    h4 {
        font-size: 14px;
        font-family: Noto-Regular;
    }
    /*.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
color: #ffffff!important;
background-color: #188ae2!important;
border-bottom: 2px solid #188ae2!important;
}*/
.nav-tabs > li > a {
    padding: 14px 16px !important;
    margin: 0 5px 0 0;
}

    .heading-h3 {
        background-color: #0d0f41;
        color: #fff;
        padding: 10px;
        font-size: 20px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .user-img-div button {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

    .error {
        color: red !important;
    }

    #button {
        margin-top: 20px;
    }

    section.app-content .col-sm-4 .pull-right {
        margin-top: 0px;
    }


    /* Procurment Module */

    .input-group {
        width: 100%;
    }

    label {
        font-size: 16px;
        margin-top: 14px;
    }
    /*.time {
    border-right: 1px solid #eee;
    height: 125px;
    padding: 0px 10px;
    text-align:center;
    
}*/
    .time h4 {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

    span label {
        font-size: 18px !important;
        text-align: center;
        padding: 0px 8px;
    }

    .bg-success {
        background-color: #003780;
        color: #fff;
        padding: 15px !important;
    }

    .atten-icon {
        font-size: 50px;
    }

    .mark-atten-date {
        font-size: 12pt;
    }

    .atten-timer {
        font-size: 37px;
        font-weight: bold;
        color: #003780;
    }

    span.pull-right {
        font-size: 20px;
        color: #003780;
    }

    ul.control {
        z-index: auto;
        position: absolute;
        right: 0;
        top: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
    }

        ul.control li > a {
            display: block;
            height: 100%;
            padding: 0 29px 0 15px;
            text-align: center;
            color: #95a2a9;
            line-height: 56px;
        }

    span.expand {
        display: none;
    }

    ul.control li > a {
        border-left: 1px solid rgba(0,0,0,.1);
        height: 60px;
    }

    .md-mode-determinat {
        background-color: rgb(197,202,233);
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 5px;
        -webkit-transform: translate(0,0) scale(1,1);
        transform: translate(0,0) scale(1,1);
    }

    span.md-progress-linear {
        margin-bottom: 17px !important;
        margin-top: 10px !important;
        display: block;
        position: relative;
        width: 100%;
        height: 5px;
        padding-top: 0 !important;
    }

    .pull-center {
        text-align: center;
    }

    .expected-lable {
        display: block;
        font-size: 10px;
        font-style: italic;
    }

    span.custom-font {
        display: inline-block;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
    }

    .col-sm-4 .pull-right {
        margin-top: 13px;
        margin-bottom: 0px;
    }

    .btn-add-items {
        margin-right: 5px;
    }

    aside#menubar {
        /* background-image: url(../images/Sidebar.JPG) !important; */
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        background-color: #2b2b2b !important;
        padding: 0;
    }

    .tf-bell-btn {
        background-color: #0272e9 !important;
        padding: 5px !important;
        border-radius: 50px !important;
        border: none !important;
        border: 1px solid #e8e8e8 !important;
        box-shadow: none !important;
        height: 30px !important;
        width: 30px;
        margin-top: 6px;
        margin-bottom: 14px;
    }


    .tf-sidebar-menu-items a {
        color: #fff !important;
    }



    /* TF Buttons Square*/
    .tf-note-btn {
        background-color: #575757 !important;
        padding: 10px !important;
        color: #fff !important;
        box-shadow: 0 8px 6px -5px #cacaca !important;
    }

    .tf-add-btn {
        background-color: #575757;
        padding: 6px !important;
        box-shadow: 0 8px 6px -5px #cacaca !important;
    }

    .tf-disapproved-btn {
        background-color: #575757;
        padding: 10px !important;
        box-shadow: 0 8px 6px -5px #cacaca !important;
    }

    .tf-back-btn {
        background-color: #575757 !important;
        padding: 10px !important;
        box-shadow: 0 8px 6px -5px #cacaca !important;
    }

    .tf-save-btn {
        background-color: #575757;
        padding: 3px 11px 7px 10px;
        box-shadow: 0 8px 6px -5px #cacaca !important;
    }

    .tf-del {
        padding: 5px 12px 7px 11px !important;
        margin-right: 5px;
    }

    .tf-del2 {
        margin-right: 5px;
    }

    .table {
        color: black;
        margin-bottom: 0;
    }

        .table > thead > tr > th {
            vertical-align: bottom;
            border-bottom: 2px solid #000000 !important;
            width: auto !important;
        }

        .table > tbody > tr > th {
            vertical-align: bottom;
            border-bottom: 2px solid #000000 !important;
        }

        .table td, .table th {
            border-top: 1px solid #dee2e6;
        }

    .table-bordered > thead > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > th,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > th,
    .table-bordered > tfoot > tr > td {
        border-top: 1px solid #ddd !important;
        border: 0;
        vertical-align: middle;
        padding: .4rem;
        font-size: 14px;
    }

    .table-bordered {
        border: 0;
    }

    .table .edit-class {
        margin: 0 5px 0 0;
    }

    .table .delete-class {
        color: red;
        margin: 0 0 0 -5px;
    }

        .table .delete-class:before {
            content: '|';
            color: black;
            margin-right: 5px;
        }

    .sorting_1 img {
        width: 50px !important;
        max-width: 50px;
        max-height: 50px !important;
    }
    /*table th {
    border: none !important;
    border-right: 1px solid #fff !important;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    border: 0px solid #ddd !important;
    border-bottom: 3px solid #f6f9ff !important;
    border-right: 3px solid #f6f9ff !important;
}

table {
    border: none !important;
    background-color: #fff;
}

td {
    border: 0px solid #ddd !important;
    border-bottom: 3px solid #f6f9ff !important;
    border-right: 3px solid #f6f9ff !important;
}

    th {
    background-color: #343a40;
    color: #fff;
}

table td span {
    color: #a1a09f !important;
}
*/
    /*body p {
font-family: 'Muli', sans-serif !important;
}
h2 {
font-family: 'Muli', sans-serif !important;
}
h3 {
font-family: 'Muli', sans-serif !important;
}
h4 {
font-family: 'Muli', sans-serif !important;
}
h5 {
font-family: 'Muli', sans-serif !important;
}
a {
font-family: 'Muli', sans-serif !important;
}
h6 {
font-family: 'Muli', sans-serif !important;
}
body h1 {
            font-family: 'Muli', sans-serif !important;
}

table tr td {
font-family: 'Muli', sans-serif !important;
}

table tr th {
font-family: 'Muli', sans-serif !important;
font-family: 'Muli', sans-serif !important;
}*/
    /*section.app-content {
padding: 17px;
}*/ /*comment by mash*/
    /*.tf-sidebar-menu-items ul li:hover {
background-color: #4e4e4e !important;
border-left: 5px solid #003780 !important;
}*/
    .tf-page-heading-text {
        display: inline-block !important;
        font-weight: 600 !important;
        margin: 0;
        padding-left: 10px;
    }

    .app-footer ul > li > a {
        color: #000 !important;
        font-family: Noto-Regular;
    }

    .tf-color-white.tf-font-times-new-roman.tf-mt-5 {
        display: block;
        padding: 0 .75rem;
        font-weight: 400;
        color: #000 !important;
        font-family: Noto-Regular;
    }

    ul.pagination {
        float: right !important;
    }

    .pagination {
        margin: 0 !important;
    }

    div#gv_info {
        margin-top: 19px !important;
    }

    div#gv_filter {
        float: right;
        margin-bottom: 10px;
    }

    .tf-footer-name {
        color: #000 !important;
        font-family: Noto-Regular;
    }

    ul.app-menu li.has-submenu.open {
        background-color: #4e4e4e !important;
        /*background: #6b6b6b59;*/
        color: #fff !important;
       
    }

    .menubar-left .app-menu > li {
        border-left: 7px solid transparent !important;
    }

    .theme-primary .menubar .app-menu li.open, .theme-primary .menubar .app-menu li.active {
        border-left-color: #003780;
    }

    .tf-sidebar-menu-items ul li ul li:hover {
        border: none !important;
        background-color: #4943a7 !important;
    }

    .tf-sidebar-menu-items ul li ul li:hover {
        /* border: none !important; */
        background-color: #7b7b7b !important;
    }
    /*tbody tr:hover {
    background-color:transparent  !important;
}
.table tr:nth-child(odd) {
    background: #fff;
}
.table tr:nth-child(even) {
    background: #f2f2f2;
}*/

    /*.tf-page-heading-img {
margin-left: -12px;
}*/ /*comment by mash*/

    .total {
        font-size: 18px !important;
        color: #003780 !important;
        font-weight: 600 !important;
    }

    .app-menu a {
        padding: 13px 10px !important;
    }
    /*section.app-content {
padding-bottom: 50px!important;
}*/
.app-content {
    padding: 0px !important;
    margin: 10px 25px 25px 25px;
    border-radius: 8px;
}

    p.m-0.attendance-report-value.ng-scope.timer.count-title.count-number.counter-count {
        font-size: 28px;
        color: #fff;
        padding: 5px 0px;
        padding: 0px;
    }

    .text-center.ng-binding {
        font-size: 17px;
        color: #fff;
        text-align: center !important;
        padding: 0px;
        padding-top: 3px;
        padding-bottom: 5px;
    }

    span.tile-with-double.tile-body-single.text-center {
        font-size: 35px;
        color: #fff;
    }

    main#app .widget-body:hover {
        box-shadow: none;
    }

    span.pull-left {
        font-size: 25px;
        color: #003780;
        padding-right: 10px;
    }

    .tile-wrapper {
        height: 100%;
        background: #f1f1f1;
        float: left;
        border-radius: 10px;
        padding: 0 10px;
    }

    main#app {
        margin-left: 30px !important;
        margin-top: 25px !important;
        margin-right: 25px !important;
    }

        main#app .widget {
            border-radius: 7px;
            background: #ffffff;
            margin-left: -5px;
            box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2)
        }

    .carousel-item p.ng-binding {
        margin: 0;
        font-size: 12px;
        color: #fff;
        background-color: #003780;
        padding: 1px 0 3px;
        position: relative;
        text-align: center;
    }

    .carousel-item h5 {
        margin: 10px 0 0;
        display: flex;
        padding: 5px 0;
        min-width: 38px;
        justify-content: center;
        align-items: center;
        background: rgba(247,247,247,.81);
    }

    .carousel-caption.d-md-block {
        width: 50px;
        height: 50px;
        position: relative;
        margin: auto;
        left: 0%;
        right: 0%;
        padding-bottom: 0;
    }

    .btn-default[disabled]:hover {
        background-color: #213d7c;
    }

    .widget-body.carousel-item .col-md-2 {
        text-align: center;
        padding: 20px 0 0;
        border-radius: 7px;
        min-height: auto;
        margin-left: 10px;
        position: relative;
        overflow: hidden;
        max-width: 13%;
        background: url(/assets/images/background-image.jpg);
        background-size: auto;
        background-repeat: no-repeat;
    }

    main#app-carousel .widget {
        border-radius: 8px;
    }

    main#app-carousel {
        padding: 0px !important;
        margin: 0px 0px 50px 0px;
        border-radius: 8px;
    }

        main#app-carousel:hover {
            outline: none !important;
            box-shadow: none !important;
        }

    a.btn.btn-greensea i {
        font-size: 25px;
    }

    a.btn.btn-greensea {
        color: #223e7d;
        padding: 0px;
    }

    a.btn.btn-light i {
        font-size: 25px;
    }

    a.btn.btn-light {
        color: #10c469;
        padding: 0px;
    }

    button.tf-approved-btn {
        padding: 0px !important;
        height: 40px !important;
        width: 40px !important;
    }

    .workable-shifts {
        background-image: linear-gradient(to right, #8585eb, #8b82ee, #917ef1, #987af3, #a076f4);
        margin: 10px 0;
        margin-bottom: 5px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .workable-hours {
        background-image: linear-gradient(315deg, #c58e79 0%, #775c54 74%);
        margin: 10px 0;
        margin-bottom: 5px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .workable-mints {
        background-image: linear-gradient(to right, #3cb9cb, #56c4d3, #6bcfda, #7fdae3, #92e5eb);
        margin: 10px 0;
        margin-bottom: 5px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .short-hours {
        background-image: linear-gradient(to right, #3c90cb, #4c98cf, #5a9fd3, #67a7d8, #74afdc);
        margin: 10px 0;
        margin-bottom: 5px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .present {
        background: linear-gradient(to right, #1d976c, #5d971d);
        margin-bottom: 5px;
        margin: 10px 0px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .short-duration {
        background-image: linear-gradient(to right, #3c90cb, #4c98cf, #5a9fd3, #67a7d8, #74afdc);
        margin-bottom: 5px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .absent {
        background-image: linear-gradient(to right, #ec4c4c, #f04c4b, #f54d4b, #f94d4a, #fd4e49);
        margin-bottom: 5px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .missing-punches {
        background: linear-gradient(to right, #3e5158, #999);
        margin-bottom: 5px;
        margin: 10px 0px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .late-arrival {
        background-image: linear-gradient(to right, #8585eb, #8b82ee, #917ef1, #987af3, #a076f4);
        margin-bottom: 5px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .early-left {
        background-image: linear-gradient(315deg, #c58e79 0%, #775c54 74%);
        margin-bottom: 5px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .option {
        margin-left: 240px !important;
        margin-right: 15px !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    .table-design {
        margin-left: 240px !important;
        margin-right: 10px !important;
        margin-top: 20px !important;
        margin-bottom: 8px !important;
        padding: 20px 0px;
    }

    .widget-body div#MyClockDisplay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #003780;
        font-size: 60px;
        letter-spacing: 7px;
        font-weight: 700;
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    span.present-option {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        color: #1fb5ac !important;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: 600;
    }

    span.overtime-option {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        color: #c58e79;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: 600;
    }

    span.missing-option {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: 600;
        color: #f4b9b9 !important;
    }

    span.absent-option {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: 600;
        color: #fa8564;
    }

    span.short-option {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: 600;
        color: #f9c851 !important;
    }

    span.day-option {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: 600;
        color: #af21af;
    }

    span.rest-option {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: 600;
        color: #a48ad4 !important;
    }

    span.weekend-option {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: 600;
        color: #3e5151;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 12px;
    }

    .start-date h4, .end-date h4, .employee-name h4 {
        color: #000;
        font-weight: 600;
        margin: 10px 0 5px;
        text-align: left;
    }

    .buttons a#myBtn {
        display: none;
    }

    .buttons {
        padding: 20px 30px !important;
        margin: 0px !important;
    }

    .start-date, .end-date, .employee-name, .buttons {
        padding: 0px 15px;
        text-align: left;
    }

    s
    .buttons span.AD_stock i.fa {
        padding-right: 10px;
    }

    span.action-out {
        color: #ff0000;
        margin-right: 3px;
        font-weight: bold;
    }

    tbody.body-material, thead.body-material {
        padding-top: 20px;
        padding-bottom: 20px;
    }

        tbody.body-material td {
            font-size: 12px;
            vertical-align: middle !important;
            padding: 15px;
            line-height: 1.42857143;
            border-top: 1px solid #ddd;
        }

            tbody.body-material td span.absent-option {
                margin: 0;
            }

    .day-off {
        background-image: linear-gradient(to right, #3cb9cb, #56c4d3, #6bcfda, #7fdae3, #92e5eb);
        margin-bottom: 5px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .rest-day {
        background-image: linear-gradient(to right, #8585eb, #8b82ee, #917ef1, #987af3, #a076f4);
        margin-bottom: 5px;
        box-shadow: 0 2px 5px -2px #ccc;
        border-radius: 5px;
    }

    .single-key h3 {
        font-size: 16px;
        color: #fff;
        padding: 8px 5px;
        margin: 0;
        text-align: center;
    }

    button.tf-back-btn {
        padding: 0px !important;
        height: 40px !important;
        width: 40px !important;
    }

    .number-key {
        text-align: center;
        color: #fff;
        font-size: 28px;
    }

    .pr-5 {
        padding-right: 5px !important;
    }

    .pl-5 {
        padding-left: 5px !important;
    }

    .shifts {
        padding: 10px 10px 0px 10px;
    }

    .second-shifts {
        padding: 0px 10px 0px 10px;
    }

    p.number-shifts {
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        margin: 0px;
    }

    .mark-table {
        margin-left: 240px !important;
        margin-right: 10px !important;
    }

    button.tf-disapproved-btn {
        padding: 0px !important;
        height: 40px !important;
        width: 40px !important;
    }

    button.tf-save-btn {
        margin-right: 5px !important;
        padding: 0px !important;
        height: 40px !important;
        width: 40px !important;
    }

    button.tf-send-btn {
        padding: 0px !important;
        height: 40px !important;
        width: 40px !important;
    }

    button.tf-upload-btn {
        padding: 0px !important;
        height: 40px !important;
        width: 40px !important;
    }

    button.tf-view-btn {
        padding: 0px !important;
        height: 40px !important;
        width: 40px !important;
    }

    /*button.tf-add-btn {
}*/
    .tf-pdf-btn {
        padding: 0px !important;
        height: 40px !important;
        width: 40px !important;
    }

    .tf-pdf-btn {
        padding: 0px !important;
        height: 40px !important;
        width: 40px !important;
        margin-right: 5px;
    }
    /*.modal-content {
    top: 0px;
    width: 450px;
    position: fixed;
    z-index: 1050;
    left: 20%;
    border-radius: 5%;
    height:100%;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}*/
    li.dropdown.notification_data {
        padding-right: 13px;
        margin-right:3px;
    }

    .tf-back-btn {
        background-color: #575757 !important;
        box-shadow: 0 8px 6px -5px #cacaca !important;
        height: 40px !important;
        width: 40px !important;
        display: inline-block !important;
        padding: 6px !important;
        position: relative !important;
        text-align: center !important;
    }

    .tf-add-btn {
        /*padding: 0px !important;*/
        height: 40px !important;
        width: 40px !important;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 15px !important;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 10px !important;
    }

    :-ms-input-placeholder { /* IE 10+ */
        font-size: 10px !important;
    }

    :-moz-placeholder { /* Firefox 18- */
        font-size: 10px !important;
    }

    .js-example-basic-single {
        font-size: 15px !important;
        font-family: 'Roboto', sans-serif;
        color: #999999 !important;
    }

    button.btn.rounded.mw-md.btn-primary {
        font-family: 'Roboto', sans-serif;
    }

    .bg-profile {
        background-color: #0096fd !important;
        width: 300px !important;
        display: block !important;
        margin: 0 auto;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .user-border {
        height: 1px;
        background-color: #eaeaea;
        width: 154px;
        display: block;
        margin: 0 auto;
    }

    .user-labels {
        padding-left: 25%;
        color: #fff;
    }

    .time-div {
        margin-top: 12px !important;
    }

    .letters-width {
        width: 925px !important;
    }

    .company-logo-img {
        width: 110px !important;
    }

    .notesTable {
        width: 100%;
        border: 0px solid #fff;
    }

        .notesTable tr td:nth-child(1), .notesTable tr td:nth-child(2) {
            width: 30%;
        }

        .notesTable tr td {
            border: none !important;
            border-bottom: 3px solid #f6f9ff !important;
            padding: 5px;
        }

    .slimScrollDiv {
        height: 540px !important;
    }

    .menubar-scroll-inner {
        height: 540px !important;
    }

    .slimScrollBar {
        background: #fff !important;
        width: 8px !important;
    }

    .modal-header {
        background-color: #003780;
        color: #fff;
    }

        .modal-header .close {
            color: #fff;
            opacity: 1;
        }
    /*.modal-content .close {
    width: 100%;
    text-shadow: none;
    font-size: 17px;
    color: #003780;
    opacity: 1;
    height: 25px;
    padding: 2px 0px;
}
span.close i {
    float: left;
    padding: 0px 10px;
}*/
    .modal-content a.btn.btn-light {
        margin: -1px;
    }

    .modal-footer {
        padding: 0 15px 20px 15px;
        text-align: right;
        /* border-top: 1px solid #003780; */
        background: #e8e8e8;
    }

    .modal-body {
        position: relative;
        padding: 15px;
        background: #e8e8e8;
    }


    body.menubar-unfold .menubar {
        width: 240px !important;
    }

    @media (min-width: 768px) {
        body.menubar-unfold .app-main {
            margin-left: 240px !important;
        }
    }


    @media (min-width: 768px) {
        body.menubar-left .navbar-header {
            width: 240px;
            background: white !important;
            padding: 5px 0px 10px 0;
            box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
            border: none !important;
        }



        .navbar-collapse.collapse {
            padding-top: 5px !important;
        }
    }

    @media (min-width: 768px) {
        .menubar-unfold .navbar-container {
            margin-left: 240px !important;
        }
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
        height: 28px !important;
        border-radius: 5px !important;
    }

    .dataTables_filter {
        margin-bottom: 10px;
    }

    .blueBtn {
        background: #0080ff;
        border: 1px solid white;
        padding: 5px 10px;
        color: white;
        border-radius: 5px;
    }

    .slimScrollDiv {
        height: 85vh !important;
    }

    .menubar-scroll-inner {
        height: 85vh !important;
    }

    body::-webkit-scrollbar {
        width: 10px !important;

    }

    body::-webkit-scrollbar {
        width: 0.5em;
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    body::-webkit-scrollbar-thumb {
        background-color: #003780;
        outline: 1px solid slategrey;
    }
    /*new code mash*/
    .content-header {
        padding: 15px 0 5px 0;
        border-bottom: 1px solid #000;
        background: #fff;
        margin: 0px 0px 0 0px;
    }

        .content-header h1 {
            font-size: 23px !important;
            margin-left: 10px !important;
            /*        text-transform: capitalize;*/
            display: inline-block;
            padding: 5px 0px;
        }

        .content-header.second_heading {
            margin: 15px 0px 0 !important;
            background: none;
            margin-bottom: 15px !important;
        }

    .mb-2, .my-2 {
        margin-bottom: .5rem !important;
    }

    .text-dark {
        color: #343a40 !important;
    }

    .form-control {
        border-color: #8c8c8c !important;
        font-size: 15px !important;
        padding: 4px 12px;
        height: 28px !important;
        border: 1px solid #aaa !important;
        border-radius: 4px !important;
        font-size: 14px !important;
    }

    .select2-container .select2-selection--multiple {
        min-height: 28px !important;
        height: 28px !important;
    }

    .select2-container .select2-selection--single {
        height: 28px !important;
    }

    .select2-selection .select2-selection__choice {
        margin-top: 3px !important;
    }

    .select2-selection.select2-selection--single .select2-selection__rendered {
        line-height: 28px !important;
    }

    .select2-selection .select2-selection__arrow {
        height: 28px !important;
    }


    textarea {
        border-radius: 4px;
        border: 1px solid #aaa;
        width: 100%;
        min-height: 36px;
        font-size: 14px;
        padding: .375rem .75rem;
    }
    /*  , .app-content h4*/
    .form-group h4, label {
        display: inline-block;
        margin: 15px 0 5px;
        font-size:12px !important;
       font-weight:600;
        font-family: Noto-Regular;
    }


    /* file upload css start*/
    .file-upload {
        background-color: #eeeeee;
        width: 100%;
        margin: 0;
    }

    .file-upload-btn {
        width: 100%;
        margin: 0;
        color: #fff;
        background: #1FB264;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #15824B;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #1AA059;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

        .file-upload-btn:active {
            border: 0;
            transition: all .2s ease;
        }

    .file-upload-content {
        display: none;
        text-align: center;

        background-color: #eee;
        border: 2px dashed #666666;
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        border: 2px dashed #aaa;
        position: relative;
        background-color: #f7f7f7;
        border-radius: 4px;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: #eee;
            border: 2px dashed #666666;
        }

    .image-title-wrap {
        padding: 15px;
        display: inline-block;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            text-transform: uppercase;
            color: #7b7b7b;
            padding: 32px;
            margin: 0;
            font-size: 14px;
            font-family: Noto-Regular;
            font-weight: 600;
        }

    .file-upload-image {
        max-height: 135px;
        max-width: 135px;
        margin: auto;
        display: inline-block;
        padding: 6px;
    }

    .remove-image {
        color: #003780;
        border: none;
        padding: 10px;
        transition: all .2s ease;
        outline: none;
        font-size: 14px;
        font-family: Noto-SemiBold;
    }
        /*.remove-image span{
        color: #003780;
        border: none;
        padding: 10px;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-size: 14px;
        font-family:Noto-SemiBold;
    }*/

        .remove-image:hover {
            color: #b02818;
            transition: all .2s ease;
            cursor: pointer;
            /*transform: rotate(180deg);*/
        }
        /*.remove-image span {
    transform: rotate(180deg);
    transition: all .2s ease;
}
    .remove-image span:hover {
        transform: rotate(360deg);
        transition: all .2s ease;
    }*/

        .remove-image:active {
            border: 0;
            transition: all .2s ease;
        }

    /* file upload css end */
    .no-pad {
        padding: 0;
    }

    .text_saprate {
        padding: 5px 0;
        border-bottom: 1px solid;
        margin-top: 20px !important;
        font-size: 24px;
        text-transform: capitalize;
    }

    .map_radius {
        /*background: #e8e8e8;*/
        /*border-radius: 20px;*/
        /*New CSS*/
        background: #ffffff;
        border-radius: 7px;
        box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    }

    .box_body {
        border-radius: 20px 20px;
    }

    .widget.box {
        border-radius: 20px;
    }

    .widget-footer.box {
        border-radius: 0 0 20px 20px;
    }

/*    .app-menu .menu-caret {
        margin-left: 7px;
    }*/

    .mb-50 {
        margin-bottom: 50px !important;
    }

    .d-block {
        display: block !important;
    }

    .mt-0 {
        margin-top: 0 !important
    }

    .AD_btn.two {
        font-size: 14px !important;
        margin: 0 !important;
        padding: 0 !important;
        cursor: pointer;
    }

    .AD_btn.eye {
        margin-left: -5px !important;
        margin-top: 5px !important;
    }

    #btnFilter {
        background: #003780 !important;
    }

    .new_check_btn {
        margin-top: 20px;
        display: inline-block;
    }

    .input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
        height: 28px;
        padding: 4px 12px !important;
    }

    /*modal set again*/
    .M_set .modal-content textarea {
        border-radius: 4px !important;
    }

    .M_set .modal-header {
        padding: 10px 15px;
        border-bottom: 1px solid #000;
        background: #fff;
        border-radius: .3rem .3rem 0 0;
    }

        .M_set .modal-header h1 {
            font-size: 20px !important;
            display: inline-block;
        }

    .M_set .add_new {
        text-align: right;
        float: right;
        display: inline-block;
    }

    .M_set .modal-header .AD_btn {
        padding: 0;
        font-size: 16px;
    }

    .M_set .modal-body {
        background: #f7f7f7;
        border-radius: 0 0 .3rem .3rem;
    }


    .first_box {
        background-image: linear-gradient(to right, #8585eb, #8b82ee, #917ef1, #987af3, #a076f4);
    }

    .third_box {
        background-image: linear-gradient(to right, #ec4c4c, #f04c4b, #f54d4b, #f94d4a, #fd4e49);
    }

    .second_box {
        background-image: linear-gradient(to right, #3cb9cb, #56c4d3, #6bcfda, #7fdae3, #92e5eb);
    }

    .fourth_box {
        background-image: linear-gradient(to right, #3c90cb, #4c98cf, #5a9fd3, #67a7d8, #74afdc);
    }

    .small-box {
        border-radius: 15px;
        box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
        display: block;
        margin-bottom: 20px;
        position: relative;
    }

        .small-box > .inner {
            color: #fff;
            padding: 20px;
        }

            .small-box > .inner h3 {
                font-size: 28px;
                width: 100%;
                max-width: 170px;
                overflow: hidden;
                margin-top: 0 !important;
            }

            .small-box > .inner p {
                margin-bottom: 5px;
            }

        .small-box .icon_class {
            color: #fff;
            z-index: 0;
        }

            .small-box .icon_class > i {
                font-size: 50px;
                position: absolute;
                right: 15px;
                top: 15px;
                transition: all .3s linear;
            }

        .small-box:hover .icon_class i {
            font-size: 60px;
            transition: all .3s linear;
        }

    /*new style*/
    .dummy_container {
        padding: 0 12px;
    }
    /*new style end*/




    .anounceTab th:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    .anounceTab th:nth-child(2) {
        width: 160px;
    }

    .anounceTab th:nth-child(3) {
        width: 200px;
    }

    .anounceTab {
        height: 370px;
        padding-right: 5px;
    }



    #style-1::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    #style-1::-webkit-scrollbar {
        width: 7px;
        background-color: #F5F5F5;
    }

    #style-1::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #003780;
    }

    .D_NONE {
        display: none !important;
    }

    .uploadimg {
        display: block;
        margin: 75px auto 0;
        width: 130px;
    }

    .uploadimgLabel {
        width: 280px;
        font-size: 16px;
        margin: 10px auto;
        display: block;
        text-align: center;
        color: #1a213f;
        font-weight: 900;
    }

    .uploadProfileBox span {
        position: absolute;
        right: 145px;
        border: 1px solid #666;
        height: 35px;
        width: 35px;
        text-align: center;
        border-radius: 38px;
        padding: 8px 0 0 0;
        color: #333;
        font-weight: 900;
        bottom: 55px;
        background: #fff;
        cursor: pointer;
    }

    .gv-img-ciclle {
        height: 40px
    }
    /*new style end*/


    /* sharjeel css */
    .navbar-brand img {
        margin: 2px auto !important;
    }

    .navbar-brand {
        padding: 10px !important;
    }

    .tableUserImage {
        height: 50px;
        width: 50px;
    }

    .tableQRCode {
        height: 48px;
    }



    /* calculator sec */
    .table_out_data label {
        display: inline-block;
        margin-top: 8px;
    }

    .table_out_data input {
        display: inline-block;
        width: 100%;
        float: right;
        max-width: 200px;
    }

    .table_out_data {
        margin: 15px 0;
    }

    .calculatesalary {
        color: #fff;
        background: #213d79;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        margin-top: 44px;
    }

    /* Calculator sec */

    .sick {
        color: #a200ff;
        font-weight: bold;
    }

    .mater {
        font-weight: bold;
        color: #0090ff;
    }

    .year {
        font-weight: bold;
        color: black;
    }

    .casual {
        color: #0039f1;
        font-weight: bold;
    }

    .abs {
        color: red;
        font-weight: bold;
    }

    .pres {
        color: green;
        font-weight: bold;
    }

    .late {
        color: red;
        font-weight: bold;
    }


    .CalP, .CalOff, .CalC, .CalS {
        cursor: pointer;
    }

    .CalP {
        /*background: green;*/
    }

        .CalP span i {
            color: green;
            font-size: 10px;
        }

    .CalM {
        background: #0090ff;
    }

    .CalY {
        background: black;
    }

    .CalC {
        /*background: #0039f1;*/
    }

        .CalC span i {
            color: #0039f1;
            font-size: 10px;
        }

    .CalA {
        background: red;
    }

    .CalS {
        /*background: #a200ff;*/
    }

        .CalS span i {
            color: #a200ff;
            font-size: 10px;
        }
    /*.CalOff {
    background: #BCBCBC;
}*/

    .CalOff span i {
        color: #BCBCBC;
        font-size: 10px;
    }

    .CalTable td {
        padding: 19px 10px !important;
        border: 0 !important;
        text-align: center;
        border-top: 1px solid transparent !important;
        font-weight: 800;
    }

    .CalTable th {
        text-align: center;
    }


    .dt-buttons {
        width: 175px;
        /* margin-bottom: 15px; */
        float: left;
        margin-top: 16px;
        /* margin-left: 10px; */
        z-index: 9999;
        padding-top: 6px;
    }

    .dataTables_filter {
        margin-bottom: 5px;
    }

    .attendance-wrapper {
        text-align: right;
        margin-top:10px;
    }

    .table2 > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #000000 !important;
        font-weight: bold;
    }

    .bellNew {
        background-color: #575757 !important;
        padding: 6px !important;
        border-radius: 50px !important;
        border: none !important;
        color: #fff !important;
        box-shadow: 0 8px 6px -5px #cacaca !important;
        height: 30px !important;
        width: 30px;
        margin-top: 6px;
        margin-bottom: 14px;
    }
    /*mash-css for new pages*/
    .terms-of-use-main-div h3 {
        color: #003780;
        font-size: 24px;
        padding: 10px 0;
    }

    .header-name-div {
        background: #929191;
        width: 35%;
        position: absolute;
        bottom: 70px;
    }

    .header-name-slide {
        color: white;
        font-weight: bold;
        padding: 15px 0;
        font-size: 32px;
        max-width: 350px;
        margin: 0 auto;
    }

    .bottom-section-data-div a:hover, a:focus, .descP a:hover, a:focus {
        color: #003780;
    }

    .main-footer {
        width: 100% !important;
        padding-left: 30px !important;
    }

        .main-footer p {
            padding: 0;
            margin: 0;
        }

        .main-footer ul li:nth-child(2) {
            border: 2px solid #afafaf;
            border-top: 0;
            border-bottom: 0;
        }

    .terms-of-use-main-div ul {
        margin-top: 10px !important;
    }

        .terms-of-use-main-div ul li {
            font-size: 14px;
            text-align: justify;
        }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .abc-test {
        position: absolute;
        left: -7%;
        top: 25%;
    }

    .buttons i {
        margin-right: 10px;
    }

    p#link-expired2 {
        text-align: center;
        padding-top: 5px;
        margin-bottom: 0rem !important;
    }

    p#link-expired {
        text-align: center;
        padding-top: 15px;
    }

    .notification_data .noti_ul li:hover {
        color: #fff !important;
    }






    .content-header.second_heading h1 {
        margin: 0px !important;
    }

    .content-header.second_heading .container-fluid {
        padding: 0px;
    }

    input.form-control.input-sm {
        margin-left: 10px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 5px;
        box-shadow: inset 0 0 5px grey;
    }

    .menubar-scroll-inner.tf-sidebar-menu-items::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 5px;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height:10px;
    }

    .menubar-scroll-inner.tf-sidebar-menu-items {
        overflow: scroll !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        height: 80vh !important;
    }

    .slimScrollBar {
        display: block !important;
    }



    .aspNetDisabled {
        border-color: #8c8c8c !important;
        padding: 4px 12px;
        height: 28px !important;
        border: 1px solid #aaa !important;
        border-radius: 4px;
        font-size: 14px !important;
        width: 100%;
    }

    #style-12::-webkit-scrollbar-thumb {
        background: #003780;
        border-radius: 15px;
    }

.fixed-table-wrap {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    height: calc(72vh);
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

    .fixed-table-wrap table {
        border-collapse: collapse;
    }

        .fixed-table-wrap table th,
        .fixed-table-wrap table td {
            padding: 10px;
            border: 1px solid #c3c3c3;
        }

        .fixed-table-wrap table th {
            position: sticky;
            position: -webkit-sticky;
            top: -1px;
            z-index: 99;
            background-color: #f7f7f7;
            border-bottom:2px solid #000 !important;
        }
th:after,
th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}

th:before {
    top: -1px;
}

th:after {
    bottom: -1px;
    border-bottom: 2px solid #000;
}
           /* .fixed-table-wrap table th::after {
                content: "";
                display: inline-block;
                width: 1px;
                background-color: #aba8a8;
                position: absolute;
                right: -1px;
                height: 40px;
                top: 0px;
            }
*/

