﻿<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h1 class="m-0 text-dark" >Company</h1>
            </div>
            <!-- /.col -->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div style="text-align: right;">

                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>



<section class="app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                   

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">

                </div>
            </div>
        </div>
    </div> <!-- /.container-fluid -->
</section>





<div class="content-header second_heading">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Attachments</h1>
            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>


CssClass="AD_stock"

CssClass="delete-class"

CssClass="edit-class"

.AD_btn.eye


ItemStyle-Width="60px"

data-plugin="select2"